* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
canvas {
  border: 3px solid #252120;
  background-color: white;
}
button {
  display: block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 10px auto;
  border: none;
  cursor: pointer;
}
div {
  width: 150px;
}
button.red {
  background-color: red;
}
body {
  display: flex;
  background-color: #252120;
}

input[type="range"] {
  margin-left: 20px;
  width: 250px;
  transform: rotate(90deg) translate(125px, 70px);
}
#demosize {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: white;
  margin: 0px auto 0;
  border-radius: 50%;
  display: block;
}
.relcont {
  width: 100px;
  height: 100px;
  margin: 5px auto;
  position: relative;
}
.butt{
    border-radius: 0;
    width: 5px;
    margin-top: 50px;
}
.square{
    border-radius: 0;
    margin-bottom: 50px;
}